/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font miama */
@import url('https://fonts.cdnfonts.com/css/miama');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}

/* shared style */
.text-primary{
    color: rgb(230, 83, 60);
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  .font-miama{
    font-family: Miama;
    line-height: 0;
  }
.btn-primary{
    padding: 16px 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.12rem;
    border: none;
    border-radius: 42px;
    text-align: center;
}
.section-title{
    font-size: 2.35rem;
    color: white;
    margin-bottom: 20px;
}
.description{
    font-size: 0.87rem;
    color: rgba(255,255,255,0.5);
    margin-bottom: 30px;
    line-height: 1.7;
}



section{
    padding: 20px ;
    margin-top: 88px;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 88px;

}
.text-center{
    text-align: center;
}

.relative{
    position: relative;
}
.clear-both::after{
    content: "";
    display: table;
    clear: both;
}


/* header */
#header{
    padding: 20px;
    padding-bottom: 0;
    margin: 0 auto;
    background: linear-gradient(180deg,rgb(17, 17, 17) 100%, rgb(199,199,199) 0%);


}
/* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0 32px 0;

}
.nav-title{
    font-size: 2.25rem;
    font-style: italic;
    font-weight: bold;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 39px;
    padding: 4px;
}
.mobile-menu{
    display: none;
}
.nav-item{
    transition: 0.3ms;
    padding: 8px 20px;
}

.nav-item .nav-link{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    font-size: 1.25rem;



}
/* .nav-item:hover{
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    color: white;
} */
.nav-links #nav-home{
    background-color: rgb(230, 83, 60);
    border-radius: 39px;
}

/* .nav-other:hover #nav-home{
    background-color: transparent;
    
} */

/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 200px; */

}
.banner-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 64px; */
}
.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
}
.banner-description{
    font-size: 1.2rem;
    font-weight: normal;
    color: rgba(255,255,255,0.5);
    margin: 28px 0;
}
.banner-btn-wrap{
    width: 100%;
    display: flex;
}

.banner-btn-2{
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    margin-left: 14px;
}

.banner-img-wrap img{
    max-width: 349px;
    height: 580px;
    width: 100%;
}
.banner-img-wrap{
    position: relative;
}
.banner-tutorial-count{
    max-width: 220px;
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 23px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
}
.red-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}
.video-tutorial-count{
    display: flex;
    gap: 12px;
    align-items: center;
    position: absolute;
    left: -113px;
    bottom: 63px;
    height: 96px;
}
.workout-video-count{
    width: 193px;
    padding: 16px 0;
    padding-left: 24px;
    position: absolute;
    top: 125px;
    right: -55px;
}
.video-tutorial-count .tutorial-count-number{
    font-size: 1.5rem;
}
.video-tutorial-count .tutorial-name{
    font-size: 1rem;
}
.workout-video-count  .tutorial-count-number{
    font-size: 2.5rem;
}
.workout-video-count  .tutorial-name{
    font-size: 0.81rem;
}
.tutorial-count-number{
    color: rgb(250, 250, 249);
    font-weight: 900;
    margin-bottom: 8px;


}
.tutorial-name{
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
/* habit section start */
#habit{
    padding: 25px;
}
.habit-title-wrap{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}
.habit-img-wrap-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;

}
.habit-img-wrap{
    max-width: 180px;
    text-align: center;
}
.habit-img{
    width: 180px;
    border-radius: 50%;
}
.habit-title{
    color: white;
    font-size: 1.12rem;
    margin-top: 25px;
    margin-bottom: 6px;
}
/* run extra mile section */
.run-extra{
    display: flex;
    justify-content: space-between;
    gap: 165px;
    background-color: #222222;
    padding: 30px;
    max-width: 1060px;
    width: 100%;
    border-radius: 18px;
}
.run-extra-content{
    width: 70%;
    padding: 12px 12px 10px 24px;
}
.run-extra-content h2{
    color: white;
    font-size: 3rem;
}
.run-extra-btn{
    width: 200px;
}

.run-extra-img{
    max-width: 662px;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* exercise section start */
.exercise-title-wrap{
    width: 50%;
}

/* BMI calculator section  */
#bmi-calculator{
    padding: 0;
    margin-bottom: 88px;
}
.bmi-title-wrap{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 88px;
}
.bmi-calculation-wrap{
    width: 100%;
    background-color: rgb(34, 34, 34);  
    padding: 52px 189px;

}
.bmi-calculation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.bmi-chart-wrap{
    width: 45%;
}
.bmi-calculate-wrap{flex: 1;}
.bmi-inner-title{
    color: white;
    font-size: 1.75rem;
    margin-bottom: 52px;
}
table{
    border-collapse: collapse;
    text-align: left;
}
.bmi-chart-table th{
    font-size: 1rem;
    color: white;
}
.bmi-chart-table td{
    color: rgba(255,255,255,0.5);
    font-size: 0.87rem;
}
.table,th,td{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 14px 18px;
}
.bmi-calculate-title-wrap{
    width: 80%;
}
.bmi-calculate-title{
    margin-bottom: 14px;
}

.input-group{
    margin-bottom: 12px;
    display: flex;
    gap: 12px;

}

.calculate-input,#gender,.activity-input{
    width: 50%;
    padding: 13px 20px;
    color: rgba(239, 237, 232, 0.8);
    background-color: rgba(255,255,255,0.1);;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}
.calculate-input::placeholder,
#gender,
.activity-input{
    color: rgba(239, 237, 232, 0.6)
}
#gender option,.activity-input option{
    color: rgba(239, 237, 232, 0.8);
    background-color: rgba(0,0,0,0.7); 
}



.activity-input{
    width: 100%;
}
.calculate-btn{
    margin-top: 34px;
    padding: 16px 70px;
}


/* our classes section */

.section-subtitle{
    font-size: 1.25rem;
    margin-bottom: 8px;
}
.our-classes-title{
    margin-bottom: 47px;
}
.classes-items-wrap{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 32px;
}
.class-item{
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    grid-column: span 2;
}
.class-item4{
  grid-column: span 3;
}
.class-item5{
  grid-column: span 3;
}


.class-item img{
    width: 100%;
    border-bottom: 3px solid steelblue;
}
.class-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;


}
.class-item-subtitle{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.class-item-title{
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
}
.class-item-icon-wrap i{
    color: white;
    background-color: rgba(239, 237, 232,0.2);
    padding: 15px;
    border-radius: 3px;

}



/* Our team section */
.team-img-container{
    background-color: #222222;
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    gap: 18px;
}
.our-team-title-wrap{
    margin-bottom: 58px;
}
.team-img-item{
    width: 100%;
    position: relative;
}

.team-img{
    width: 100%;
    height: 272px;
    border-radius: 18px;
}
.team-img-text{
    position: absolute;
    bottom: 16px;
    left: 19px;
}
.team-img-text .team-img-name{
    color: white;
    margin-bottom: 3px;
}
.team-img-text .team-img-title{
    color: rgba(255,255,255,0.5);
}

/* footer section  */
footer{
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    padding: 35px 20px 10px;

}
.footer-wrap{
    padding-left: 30px;
    margin-bottom: 0;

}
.footer-content-wrap{
    display: flex;
    justify-content: space-between;
    gap: 102px;
    margin-bottom: 78px;
}
.footer-content{
    width: 40%;
}
.footer-title{
    font-size: 4.37rem;
    margin-bottom: 10px;
}
.footer-links-col-wrap{
    display: flex;
    justify-content: space-around;
    gap: 152px;
}
.footer-links-title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 39px;
}
.footer-links{
    list-style: none;
}
.footer-links .footer-link-item{
    margin-bottom: 20px;
}
.footer-links .footer-link{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 1.43rem;
}
.footer-description{
    line-height: 30px;
}
.footer-hr{
    border: 1px solid rgba(255,255,255,0.1);
    /* border-bottom: none; */
}
.copyright-text{
    text-align: center;
    margin-top: 36px;
    color: rgba(255,255,255,0.5);
    font-size: 1.25rem;
}



/* RESPONSIBLE with media queries */

    /* for mobile screen */

@media screen and (max-width:576px) {
    .section-title{
        font-size: 2rem;
    }
    #header{
        margin-bottom: 0;

    }
    .container{
        margin-bottom: 66px;
    }
    nav{
        padding: 20px 20px;
    }
    .nav-links{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu i{
        color: white;
        font-size: 20px;
    }
    /* banner */
    .banner{
        flex-direction: column;
        margin-bottom: 0;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 2.7rem;
    }
    .banner-btn-wrap{
        justify-content: space-between;
    }
    .banner-btn-1,.banner-btn-2{
        width: 50%;
        padding: 14px 30px;
        font-size: 1rem;
    }
    .banner-btn-1 .club-text{
        display: none;
    }
    .video-tutorial-count{
        left: 0;
        top: 220px;
    }
    .workout-video-count{
        top: 60px;
        right: 0;
    }
    .video-tutorial-count .tutorial-count-number{
        font-size: 1.15rem;
    }
    .video-tutorial-count .tutorial-name{
        font-size: 0.9rem;
    }
    .workout-video-count  .tutorial-count-number{
        font-size: 1.85rem;
    }
    .workout-video-count .tutorial-name{
        font-size: 0.8rem;
    }
    /* habit */
    #habit{
        margin:  0 auto;
        padding-top: 0;
    }
    .habit-title-wrap{
        width: 100%;
        margin-right: 0px;
    }
    .habit-img-wrap-container{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;

    }

    /* run extra */
    .run-extra{
        flex-direction: column;
        gap: 32px;
        width: 90%;
    }
    .run-extra-content{
        width: 100%;
        padding: 3px;
    }
    .run-extra-btn{
        width: 100%;
    }
    /* BMI calculator */
    #bmi-calculator{
        margin-top: 0;
        margin-bottom: 37px;
    }
    .bmi-calculation-wrap{
        margin-top: 0;
    }
    .bmi-title-wrap{
        width: 90%;
        margin: 32px 20px;
    }
    .bmi-calculation-wrap{
        padding: 35px 20px;
    }
    .bmi-calculate-title-wrap{
        width: 100%;
    }
    .bmi-calculation-wrap{
        width: 90%;
        margin: 0 auto;

    }
    .bmi-calculation{
        flex-direction: column;
        gap: 42px;
        margin-bottom: 0;
    }
    .bmi-chart-wrap,
    .bmi-calculate-wrap{
        width: 100%;
    }
    .bmi-chart-title{
        margin-bottom: 23px;
    }

    .classes-items-wrap{
        grid-template-columns: 1fr;
    }
    .class-item{
        grid-column: span 1;
    }

    /* team section */
    #our-team{
        margin-top: 0;
    }
    .team-img-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .our-team-title-wrap{
        margin-bottom: 37px;
    }
    /* footer */
    footer{
        padding: 10px;
        /* padding-left: 0px; */
    }
    .footer-content-wrap{
        flex-direction: column;
        gap: 10px;
    }
    .footer-content{
        width: 100%;
    }
    .footer-links-col-wrap{
        flex-direction: column;
        gap: 10px;
    }
}

/* for tablat or medium screen */
@media screen and (min-width:577px) and (max-width:992px){
    .container{
        margin-bottom: 66px;
    }
     /* banner */
    .banner{
        flex-direction: column;
        margin-bottom: 0;
    }
    .banner-content{
        width: 80%;
        margin-bottom: 80px;
    }
    .banner-title{
        font-size: 4.87rem;
    }
    .banner-btn-wrap{
        justify-content: flex-start;
    }
    .banner-btn-1,.banner-btn-2{
        width: 35%;
        padding: 14px 30px;
        font-size: 1.15rem;
    }
    .banner-btn-1 .club-text{
        display: none;
    }
    .banner-img-wrap{
        margin: 0 auto;
    }
    .video-tutorial-count{
        left: -50px;
        bottom:  131px;
    }
    .workout-video-count{
        top: 60px;
        right: -40px;
    }


    .habit-title-wrap{
        width: 100%;
    }
    #habit{
        width: 90%;
    }
    .habit-img-wrap-container{
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
    }
    /* extra run  */
    .run-extra{
        gap: 65px;
        width: 90%;
    }
    .run-extra-content{
        width: 75%;
    }

    /* bmi calculation */
    #bmi-calculator{
       margin-bottom: 64px;
    }
    .bmi-title-wrap{
        width: 75%;
        margin: 0 30px;
    }
    .bmi-calculation-wrap{
        padding: 35px 30px;
    }
    .bmi-calculation{
        flex-direction: column;
        gap: 42px;
        margin-bottom: 0;
    }
    .bmi-chart-wrap{
        margin-bottom: 14px;
    }
    .bmi-calculate-wrap{
        width: 100%;
    }

    .classes-items-wrap{
        grid-template-columns: repeat(2,1fr)
    }
    .class-item{
        grid-column: span 1;
    }
    .class-item5{
        grid-column: span 2;
    }

  

    /* team section */
    #our-team{
        padding: 35px;
    }
    .our-team-title-wrap{
        margin-bottom: 54px;
    }
            /* footer  */
    footer{
        width: 100%;
    }
    .footer-content-wrap{
        flex-direction: column;
    }
    .footer-content{
        width: 65%;
    }
    .footer-links-col-wrap{
        width: 75%;
        justify-content: space-between;
        gap: 152px;
        flex-direction: row;
        gap: 10px;
    }
}



.hide{
    display: none;
}